body{
    background-color: hsl(185, 75%, 39%);
    font-family: sans-serif;
    font-size: 1.3rem;
}

.bg-image{
    position: absolute;
}

.bg-image--top{
    top: -400px;
    left: -100px;
}

.bg-image--bot{
    bottom: -450px;
    right: -100px;
}

.card{
    position: relative;
    top: 30vh;
    width: 400px;
    height: 450px;
    margin-left:auto ;
    margin-right: auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.card___header{
    position: relative;
    height: 120px;
    text-align: center;
}

.card__header-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.card__header-profile{
    position:absolute;
    top: 90px;
    left: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #fff;
}

.card__body{
    position:absolute;
    top: 200px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.card__footer{
    position:absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.card__stats{
    display: inline-block;
    margin: 0 0.5;
    width: 100px;
    text-align: center;
}